<div
  id="Hero-{{ section.id }}"
>
  {%- liquid
    assign full_width = '100vw'
    assign widths = '375, 550, 750, 1100, 1920'
    assign sizes = '100vw'
    assign image_class = 'w-full h-auto block hidden lg:block'
    {% comment %} assign image_class_mobile = 'w-full h-auto block md:hidden'
    assign image_class_tab = 'w-full h-auto block hidden md:block lg:hidden' {% endcomment %}
  -%}

  <div
    class=""
  >
    <div class="relative {% if section.settings.full_width != true %}container{% endif %}">
      {% if section.settings.link != blank %}
        <a class="block w-full" href="{{section.settings.link}}">
      {% endif %}

      {% if section.settings.video %}
        {{
          section.settings.video
          | video_tag:
            muted: true,
            autoplay: true,
            loop: true,
            playsinline: true,
            class: 'w-full h-full object-cover absolute inset-0'
        }}
      {%- elsif section.settings.image != blank -%}
        {{
          section.settings.image
          | image_url: width: 1920
          | image_tag: loading: 'eager', width: 1920, height: 1920, class: image_class, sizes: sizes, widths: widths
        }}
        {% comment %} {{
          section.settings.image_mobile
          | image_url: width: 800
          | image_tag:
            loading: 'eager',
            width: 800,
            height: 800,
            class: image_class_mobile,
            sizes: sizes,
            widths: widths
        }}
        {{
          section.settings.image_tab
          | image_url: width: 1400
          | image_tag: loading: 'eager', width: 1400, height: 1400, class: image_class_tab, sizes: sizes, widths: widths
        }} {% endcomment %}

      {%- else -%}
        {{ 'hero-apparel-1' | placeholder_svg_tag: image_class }}
      {%- endif -%}

      {% if section.settings.link != blank %}
        </a>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Hero Image Link",
  "tag": "section",
  "class": "section-hero",
  "disabled_on": {
    "groups": ["header", "footer"],
    "templates": ["article"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Choose a static image for Desktop"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Choose a static image for Mobile"
    },
    {
      "type": "image_picker",
      "id": "image_tab",
      "label": "Choose a static image for Tab"
    },
    {
      "type": "video",
      "id": "video",
      "label": "Choose a video",
      "info": "Video will override static image"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link",
      "info": "This will wrap the image in a link if set"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Hero Image Link"
    }
  ]
}
{% endschema %}
