{% liquid
  assign widths = '300, 375, 550, 660, 750, 1024, 1336'
  assign sizes = '(max-width: 1023px) 50vw, (min-width: 1024px) 330px, 100vw'

  assign class1 = 'h-full w-full object-contain opacity-0'
  assign class2 = 'h-full w-full object-cover !opacity-0 group-hover/card:!opacity-100 absolute inset-0 notouchhover '
%}
{%- render 'spinner' -%}

{% assign height_cropped = 330 | divided_by: 2 | plus: 330 %}

{% assign img_width = '330' %}
<div class="">
  <div class="container space-y-8 lg:space-y-16">
    <div class="animation an-fadeup">
      {%- for block in section.blocks -%}
        <div
          {{ block.shopify_attributes }}
          class="grid md:grid-cols-2 gap-8 md:gap-16"
        >
          {% if block.settings.product %}
            <div>
              {% assign rel_product = block.settings.product %}

              {% if rel_product.featured_media.media_type == 'image' %}
                <a href="{{ rel_product.url }}">
                  {%- render 'lazyimg',
                    img: rel_product.featured_media,
                    width: img_width,
                    height: height_cropped,
                    widths: widths,
                    class: class1,
                    sizes: sizes,
                    crop: 'center'
                  -%}
                </a>
              {% endif %}

              <a class="btn-tertiary" href="{{ rel_product.url }}">Shop {{ rel_product.title }}</a>
            </div>
          {% endif %}

          <div class="space-y-3 lg:space-y-5 flex-1 flex-col flex items-start justify-center py-3 md:py-7 px-7">
            <p>Customer Reviews</p>
            <div class="wysiwyg">{{ block.settings.testimonial }}</div>

            <img loading="lazy" src="{{ "star.svg" | asset_url }}" alt="Start" width="24" height="22">

            {% if block.settings.name %}
              <p class="">{{ block.settings.name }}</p>
            {% endif %}
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{% if section.settings.margin == 'no' %}
  <style>
    #shopify-section-{{ section.id }} {
        margin: 0 !important;
    }
  </style>
{% endif %}

{% schema %}
{
  "name": "Reviews Carousel",
  "tag": "section",
  "class": "section-infocards",
  "disabled_on": {
    "groups": ["header", "footer"],
    "templates": ["article"]
  },
  "settings": [
    {
      "type": "radio",
      "id": "margin",
      "label": "Include Margin",
      "options": [
        {
          "value": "yes",
          "label": "Yes"
        },
        {
          "value": "no",
          "label": "No"
        }
      ],
      "default": "yes"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "header",
          "content": "Related Product Settings"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "header",
          "content": "Testimonial Settings"
        },
        {
          "type": "richtext",
          "id": "testimonial",
          "label": "Testimonial Copy",
          "default": "<p>“One of the highest quality products I have experienced. Very very soft and drapes beautifully on my bed.”</p>"
        },
        {
          "type": "text",
          "id": "name",
          "default": "John Smith",
          "label": "Testimonial Name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Reviews Carousel",
      "blocks": [
        {
          "type": "block"
        },
        {
          "type": "block"
        },
        {
          "type": "block"
        }
      ]
    }
  ]
}
{% endschema %}
